@model OgrenciNotMVC.Models.Entity.TBLDERSLER
@{
    ViewBag.Title = "YeniDers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <form method="post">
        <label>Ders Adı Giriniz</label>
        <input type="text" class="form-control" name="DERSAD" placeholder="DERS ADI"/>
        <button class="btn btn-success" style="margin-top: 10px;">Yeni Ders</button>
    </form>
</div>
