@model List<OgrenciNotMVC.Models.Entity.TBLKULUPLER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>KULÜP ID</th>
        <th>KULÜP AD</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.KULUPID</td>
            <td>@item.KULUPAD</td>
            <td><a href="/Kulup/KulupSil/@item.KULUPID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Kulup/KulupGuncelle/@item.KULUPID" class="btn btn-primary">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Kulup/KulupEkle/" class="btn btn-success">Yeni Kulüp Ekle</a>